.complete {
  text-decoration: line-through 2px solid;
  color: black;
  font-style: italic;
  opacity: 0.5;
}

.lists {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  width: 140px;
  text-align: center;
  z-index: 999;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputs {
  display: flex;
}
select {
  height: 22px;
  margin: 2px 0 0 20px;
}
#confirm {
  cursor: pointer;
}
