.carousel_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  position: relative;
  margin: 0 auto;

  .left-arrow {
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 25px;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    &:hover {
      transform: scale(1.2);
      transition: 0.3s;
    }
  }
  .left-arrow-disabled {
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 25px;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    opacity: 0.3;
    cursor: not-allowed;
  }
  .right-arrow {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 25px;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    &:hover {
      transform: scale(1.2);
      transition: 0.3s;
    }
  }
  .right-arrow-disabled {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 25px;
    color: black;
    z-index: 10;
    opacity: 0.3;
    user-select: none;
    cursor: not-allowed;
  }

  .carousel_card_wrapper {
    display: flex;
    z-index: 0;
    top: 30px;
    height: 130px;
    width: 379px;
    position: absolute;
    border: 2px solid red;
    border-radius: 8px;

    .carousel_card {
      border: 1px solid black;
      cursor: grab;
      z-index: 1;
      min-width: 376px;
      overflow: hidden;
      position: relative;
      border-radius: 6px;
      width: 100%;
      height: 129px;
      display: flex;

      &:active {
        cursor: grabbing;
      }

      img {
        margin: 25px 10px 10px 10px;
        border-radius: 3px;
        width: 90px;
        height: 90px;
        display: flex;
        z-index: -1;
      }
      .carousel_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 25px 10px 10px 0px;
        width: 100%;
        height: 80px;

        .carousel_category {
          display: flex;
          justify-content: flex-start;
        }

        .carousel_hashtag {
          display: flex;
          justify-content: flex-start;
          font-size: 11px;
          color: lightgray;
          font-weight: 600;
        }
      }
      .carousel_location {
        display: flex;
        justify-content: space-between;

        .carousel_title {
          font-weight: 700;
        }

        .carousel_title_detail {
          font-size: 11px;
          flex-grow: 1;
        }
      }

      .carousel_score {
        display: flex;
        align-items: center;
        font-size: 11px;

        .carousel_score1 {
          color: rgb(0, 204, 255);
          font-weight: 700;
        }
        .carousel_score3 {
          display: flex;
          align-items: center;

          .carousel_score33 {
            color: red;
            font-size: 13px;
            font-weight: 700;
          }
        }
      }
    }
  }
}
