.App {
  text-align: right;
}
.right {
  text-align: right;
}

.container {
  width: 800px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.more {
  margin: 0 auto;
  display: block;
  width: 100px;
}
.product {
  margin: 28px 23px;
  /* padding: 10px; */
  width: 220px;
  height: 220px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.product:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.detail_info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail_explain {
  text-align: center;
  margin: 20px;
}
.detail_explain button {
  background-color: red;
  color: white;
  margin: 20px;
  border-radius: 5px;
}

@media screen and (max-width: 980px) {
  .container {
    padding: 0;

    width: 100vw;
    display: block;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .detail_info {
    display: flex;
    flex-direction: column;
  }
}

.title {
  text-align: center;
  background-color: grey;
  color: gold;
  margin: 0;
}
body {
  margin: 0;
}
.todo-app {
  background-color: grey;
  color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.background {
  background-color: rgb(196, 196, 196);
  text-align: center;
  padding: 20px;
  background-image: url("./background.jpg");
  background-size: cover;
  color: white;
}
.learn_button {
  background-color: rgb(24, 127, 223);
  width: 200px;
  border-radius: 5px;
  color: white;
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
